/***************************IDs********************************/
#erreur{
	color: #e60000;
}

#donnees_projet{
	display:none;
}

#suivi_precedent{
	display:none;
}

#statuts_radio_label{
	padding-right: 10px;
	font-weight: normal;
	font-size: 1em;
}

/***************************Classes********************************/
/*Overwriting bootstrap form-control class*/
#login .form-control{
	width: 90%;
	margin:auto;
}

.small_border{
	border-top: 1px solid #ddd;
	padding-top: 20px;
	margin-top: 5px;
}

.suivi_retard{
	background-color: #ffa64d;
	color: white;
}

.suivi_ajour{
	/*Nothing here for the moment*/
}

/***************************Tags********************************/
form {
	margin-top: 15px;
	margin-top: 10px;
	padding-top: 25px;
	padding-bottom: 5px;
}

h3{
	text-align: left;
	margin-top: 0;
}

#login form button{
	margin-left: 5%;
}

#suivi_precedent div p{
	margin-top:5px;
	margin-bottom: 20px;
	font-size: 1em !important;
	border-radius: 0.25em;
	font-weight: bold;
	color: white;
	filter: invert(100%);
}
