/***************************ID********************************/
#header_wrapper{
	margin-top: 10px;
}

#utilisateur{
	color: #00802b;
}
/***************************Tags********************************/
li{
	list-style-type: none;
}

header{
	margin-top: 10px;
	text-align: center;
}

footer{

}

footer .navbar-brand{
	padding-top: 8px;
	position:relative;
	z-index: 11;
}

body{
	width: 90%;
	margin: 0 auto;
	padding-bottom: 70px;
	background-color: #ecf9f2; /*mint fresh*/
}

*, html{
	margin: 0;
	padding: 0;
}

html{
	display: none;
}
