/***************************ID********************************/

#wrap_all_stats{
	margin-bottom: 5px;
}

#table_suivis_wrapper{
	margin-bottom: 20px;
	display: none;
}

#table_suivis{
	display: none;
}

#dropdowns{

}

#selections{
	display: none;
	width: 510px;
}

#mois_select{
	width: 120px !important;
}

/***************************Classes********************************/
.test{
	border: 5px solid black;
}

.texte_couche_1{
	position: absolute;
	z-index: 2;
	top: 10%;
	font-weight: bold;
}

.texte_couche_2{
	position: absolute;
	z-index: 2;
	left:45%;
	top:60%;
	font-weight: bold;
}

.form_control_inline{
	min-width: 0;
	width: auto;
	display: inline;
	margin-right: 10px;
}

.stat_wrapper{
	display: none;
	width: 450px;
}

.donut_wrapper{
	position: relative;
	float:left;
	margin-top: 12px;
	margin-right: 20px;
}

.stat_text_wrapper{
	float:none;
	overflow: initial;
}

.donut_couche_1{
	width: 200px;
	height: 100px;
}

.donut_couche_2{
	width: 110px;
	height: 55px;
	position: absolute;
	left: 22.5%;
	top: 45%;
}

.currency_column{
	text-align: right;
	width: 80px;
}

.col-centered{
	float:none;
	margin: 0 auto;
}

.nombres_importants{
	font-weight: bold;
	font-size: 1.25em;
	margin-left: 5px;
}

/***************************Tags********************************/
#dropdowns div.panel{
	padding-top: 15px;
	width:510px;
}

td{
	font-size: 0.9em;
}

.stat_text_wrapper th{
	text-align: left;
	width:50%;
}

#table_suivis thead th{
	text-align: center;
	background-color: white;
	border-top: 1px solid black;
}

#table_suivis th:first-child{
	border-left: 1px solid #ddd;
}

#table_suivis th:last-child{
	border-right: 1px solid #ddd;
}

select option:disabled{
	background-color: #ddd;
}

/*************Donut responsiveness****************/
#wrap_all_stats .stat_wrapper:nth-of-type(odd){
	float: left;
}

#wrap_all_stats .stat_wrapper:nth-of-type(even){
	float: right;
}

@media screen and (max-width: 1085px) {
	#wrap_all_stats{
		width:100% !important;
	}

	body{
		width: 95% !important;
	}
}

/*987 px?*/
@media screen and (max-width: 986px) {
	.stat_wrapper{
		margin: 0 auto;
	}

	#wrap_all_stats .stat_wrapper:nth-of-type(odd){
		float: none;
	}

	#wrap_all_stats .stat_wrapper:nth-of-type(even){
		float: none;
	}
}
